<!-- !check bottom for Nav offcanvas -->
<!-- !for tablets when you click profile it should pop out a modal -->
<!-- !the nav and offcanvas for home(courses) and probably other pages are different from about, contact, and index -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StudentsHub | Home</title>
		<link rel="stylesheet" href="./css/bootstrap.css" />
		<link
			rel="stylesheet"
			href="./assets/bootstrap-icons/bootstrap-icons.css"
		/>
		<link rel="stylesheet" href="./css/style.css" />
		<link
			rel="shortcut icon"
			href="./assets/favicon.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="./css/aos.css" />
		<script defer src="./js/bootstrap.bundle.js"></script>
		<script defer src="./js/functionality.js"></script>
		<script src="./js/aos.js"></script>
	</head>
	<body class="">
		<div class="identifier visually-hidden">home</div>
		<!-- *display this header if user is authenicated {for mobile but display regardless}-->
		<!-- *{% if user.is_authenticated %} -->
		<header class="bg-light px-3 mobile-header py-2">
			<a href=".">
				<img
					src="./assets/shublogo-edited.png"
					draggable="false"
					class="mobile-header-img"
					alt=""
				/>
			</a>
			<div class="mobile-profile dropdown">
				<img
					draggable="false"
					src="./images/tobi.jpeg"
					alt=""
					class="img-fluid profile-img"
					type="button"
					id="account-actions"
					data-bs-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				/>
				<div class="dropdown-menu" aria-labelledby="account-actions">
					<a class="dropdown-item" href="#">View Profile</a>
					<a class="dropdown-item" href="#">Edit Profile</a>
				</div>
			</div>
		</header>
		<!-- !Not authenticated -->
		<!-- !{% else %} -->
		<!-- !<header class="bg-light text-center mobile-header tab-header-auth px-3 py-3">
			<img src="./assets/shublogo-edited.png" draggable="false" class="mobile-header-img-no-auth" alt="">
			<form class="d-flex">
				<button class="btn btn-info my-2 my-sm-0" type="submit">
					Login
				</button>
				<button class="btn btn-outline-info my-2 mx-2 my-sm-0" type="submit">
					Sign-up
				</button>
			</form>
		</header> -->
		<!-- !{% endif %} -->
		<nav>
			<div class="nav-mobile">
				<div
					class="nav-mobile-cont shadow-lg mb-3 px-3 py-1 rounded-4 text-center"
				>
					<div
						class="nav-mobile-events"
						type="button"
						data-bs-toggle="offcanvas"
						data-bs-target="#nav-offcanvas"
						aria-controls="nav-offcanvas"
					>
						<i class="bi-grid-fill gen-svg-mobile"></i>
					</div>
					<a
						href="."
						class="nav-mobile-events nav-mobile-events-center border-start border-3 border-end"
					>
						<i class="bi-house-fill gen-svg-mobile mx-2"></i>
					</a>
					<a
						href="./home.html"
						class="nav-mobile-events mobile-need-fix"
						aria-labelledby="name"
					>
						<svg
							style="width: 24px; height: 24px"
							viewBox="0 0 24 24"
						>
							<path
								fill="currentColor"
								d="M9 3V18H12V3H9M12 5L16 18L19 17L15 4L12 5M5 5V18H8V5H5M3 19V21H21V19H3Z"
							/>
						</svg>
					</a>
				</div>
			</div>
		</nav>
		<header class="bg-light border">
			<nav
				class="desktop navbar navbar-expand-md navbar-light bg-light"
				data-aos="fade-down"
			>
				<div class="container-lg py-2">
					<a class="navbar-brand" href=".">
						<img
							draggable="false"
							src="./assets/shublogo-edited.png"
							alt=""
							class="shub-nav-logo"
						/>
					</a>
					<button
						class="navbar-toggler d-lg-none"
						type="button"
						data-bs-toggle="offcanvas"
						data-bs-target="#nav-offcanvas"
						aria-controls="nav-offcanvas"
					>
						<span class="bi-text-right"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavId">
						<ul class="navbar-nav me-auto mt-2 ms-5 mt-lg-0">
							<button
								class="btn border-none nav-item mx-3 more-toggle-cont"
							>
								<span
									class="lorem is-responsive dropdown-toggle more-toggle"
									href=""
									aria-current="page"
								>
									Categories
								</span>
							</button>
							<form action="" method="post">
								<div class="search-container">
									<input
										type="text"
										class="form-control search"
										name=""
										aria-describedby="Search courses"
										placeholder="Search courses"
									/>
									<button
										class="w-25 btn rounded-end bg-shub-blue search-btn"
										type="submit"
									>
										<i class="bi-search has-text-dark"></i>
									</button>
								</div>
							</form>
							<div class="icons-home ms-5">
								<li class="nav-item">
									<!-- i assumed this hear redirects to somewhere??? -->
									<div
										class="cart cart-hover bi-bell notifs text-shubpurple-i text-center"
										type="button"
										style="font-size: large"
										data-bs-toggle="modal"
										data-bs-target="#notification_modal"
									></div>
								</li>
								<li class="nav-item mx-3 dropdown">
									<div
										class="nav-link is-responsive active dropdown-toggle"
										type="button"
										id="navigation"
										data-bs-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Courses
									</div>
									<div
										class="dropdown-menu"
										aria-labelledby="account-actions"
									>
										<a
											class="dropdown-item"
											href="./home.html"
											>Courses</a
										>
										<a
											class="dropdown-item"
											href="events.html"
											>Events</a
										>
										<a
											class="dropdown-item"
											href="dashboard.html"
											>Dashboard</a
										>
										<a
											class="dropdown-item"
											href="resources.html"
											>Resources</a
										>
										<div class="dropdown-divider"></div>
										<a
											href="books.html"
											class="dropdown-item"
											>Book</a
										>
										<a
											href="wikipedia.html"
											class="dropdown-item"
											>Wikipedia</a
										>
										<a
											href="dictionary.html"
											class="dropdown-item"
											>Dictionary</a
										>
										<a
											href="./todo.html"
											class="dropdown-item"
											>Todo</a
										>
									</div>
								</li>
							</div>
						</ul>
						<!-- !{% if user.is_authenticated %} -->
						<div class="dropdown">
							<div
								class="user-profile user-profile-lg p-2 rounded-5"
								type="button"
								id="account-actions"
								data-bs-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							>
								<img
									draggable="false"
									src="./images/tobi.jpeg"
									alt=""
									class="img-fluid profile-img"
									data-bs-toggle="tooltip"
									data-bs-placement="left"
									data-bs-title="Tobi Edunkayo"
								/>
							</div>
							<div
								class="dropdown-menu"
								aria-labelledby="navigation"
							>
								<a class="dropdown-item" href="#"
									>View Profile</a
								>
								<a class="dropdown-item" href="#"
									>Edit Profile</a
								>
								<div class="dropdown-divider"></div>
								<a
									href="#"
									class="d-flex justify-content-center gap-2 dropdown-item"
								>
									<i
										class="bi-door-open-fill text-danger"
									></i>
									<div class="text-danger text-center">
										Logout
									</div>
								</a>
							</div>
						</div>
						<!-- !else -->
						<!-- <form class="d-flex my-2 my-lg-0">
							<button class="is-responsive btn btn-info my-2 mx-2 my-sm-0" type="submit">Login</button>
							<button class="is-responsive btn btn-outline-info my-2 mx-2 my-sm-0" type="submit">Sign-up</button>
						</form> -->
						<!-- !endif -->
					</div>
				</div>
			</nav>
			<div
				class="modal fade"
				id="notification_modal"
				tabindex="-1"
				data-bs-backdrop="static"
				data-bs-keyboard="false"
				role="dialog"
				aria-labelledby="modalTitleId"
				aria-hidden="true"
			>
				<div
					class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
					role="document"
				>
					<div class="modal-content">
						<div class="modal-header bg-shub-purple text-light">
							<h5 class="modal-title" id="modalTitleId">
								Notifications
							</h5>
							<button
								type="button"
								class="btn-close notification-btn-close btn-close-white"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
								<div
									class="p-2 text-center notif_items border-bottom"
									style="font-weight: bold"
								>
									<a href="#">
										hey, here's a notification!
									</a>
								</div>
							</div>
						</div>
						<div
							class="modal-footer text-center d-flex justify-content-center"
						>
							<button
								class="bg-none text-shubblue border-none w-100"
								style="font-weight: bold"
							>
								Clear Notifications
							</button>
							<!-- try using gray for heading tags! -->
						</div>
					</div>
				</div>
			</div>
			<div
				class="offcanvas offcanvas-start"
				data-bs-scroll="true"
				tabindex="-1"
				id="nav-offcanvas"
				aria-labelledby="lorem"
			>
				<div class="offcanvas-header">
					<a href="./" class="offcanvas-title" id="lorem">
						<img
							draggable="false"
							src="./assets/shublogo-edited.png"
							alt=""
							class="shub-nav-logo"
						/>
					</a>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="offcanvas"
						aria-label="Close"
					></button>
				</div>
				<div class="offcanvas-body">
					<form action="" method="post" class="mb-3">
						<div class="search-container">
							<input
								type="text"
								class="form-control search"
								name=""
								aria-describedby="Search courses"
								placeholder="Search courses"
							/>
							<button
								class="w-25 btn rounded-end bg-shub-blue search-btn"
								type="submit"
							>
								<i class="bi-search has-text-dark"></i>
							</button>
						</div>
					</form>
					<ul class="list-unstyled items-mobile">
						<li class="nav-item">
							<!-- <a class="nav-link-mobile nav-link-mobile-active lorem" href="./todo.html" aria-current="page" >Study Portal <span class="visually-hidden">(current)</span></a > -->
							<div class="accordion" id="study_portal">
								<div class="accordion-item">
									<h2 class="accordion-header" id="item_1">
										<button
											class="accordion-button border-5 nav-link-mobile-active contact-form"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#item_1_collapse_id"
											aria-expanded="true"
											aria-controls="item_1_collapse_id"
										>
											Study Portal
										</button>
									</h2>
									<a
										href="todo.html"
										id="item_1_collapse_id"
										class="accordion-collapse bg-primary collapse show"
										aria-labelledby="item_1"
										data-bs-parent="#study_portal"
									>
										<div
											class="accordion-body nav-link-mobile border-bottom"
										>
											<div class="w-100">todo</div>
										</div>
									</a>
									<a
										href="books.html"
										id="item_1_collapse_id"
										class="accordion-collapse collapse show"
										aria-labelledby="item_1"
										data-bs-parent="#study_portal"
									>
										<div
											class="accordion-body nav-link-mobile border-bottom"
										>
											<div class="w-100">Books</div>
										</div>
									</a>
									<a
										href="wikipedia.html"
										id="item_1_collapse_id"
										class="accordion-collapse collapse show"
										aria-labelledby="item_1"
										data-bs-parent="#study_portal"
									>
										<div
											class="accordion-body nav-link-mobile border-bottom"
										>
											<div>Wikipedia</div>
										</div>
									</a>
									<a
										href="dictionary.html"
										id="item_1_collapse_id"
										class="accordion-collapse collapse show"
										aria-labelledby="item_1"
										data-bs-parent="#study_portal"
									>
										<div
											class="accordion-body nav-link-mobile"
										>
											<div>Dictionary</div>
										</div>
									</a>
								</div>
							</div>
						</li>
						<a class="nav-item" href="./home.html">
							<div class="nav-link-mobile">Courses</div>
						</a>
						<a class="nav-item" href="./events.html">
							<div class="nav-link-mobile">Events</div>
						</a>
						<a class="nav-item" href="./resources.html">
							<div class="nav-link-mobile">Resources</div>
						</a>
					</ul>
				</div>
			</div>
			<div
				class="findcourses visually-hidden findcourses-cont text-center nav-item py-2"
			>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					computer science
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					software engineering
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
				<a
					href="#"
					class="tag courses-tags my-1 bg-shub-purple-i text-light is-medium"
				>
					photography
				</a>
			</div>
			<script>
				const categories = document.querySelector(".more-toggle-cont");
				const iteee = document.querySelector(".findcourses-cont");

				categories.addEventListener("click", () => {
					categories.classList.toggle("dropup");
					iteee.classList.toggle("visually-hidden");
				});
			</script>
		</header>
		<div class="div ps-3">
			<div class="priss border rounded-5 p-3">
				<div class="tab-nav-items nav-link-mobile tab-nav-event">
					<a href="./" class="bi-house-fill gen-svg home-for-js"></a>
				</div>
				<div
					class="tab-nav-items tab-nav-event nav-link-mobile nav-link-mobile-active"
				>
					<a href="./home.html">
						<svg class="gen-svg" viewBox="0 0 24 24">
							<path
								fill="currentColor"
								d="M9 3V18H12V3H9M12 5L16 18L19 17L15 4L12 5M5 5V18H8V5H5M3 19V21H21V19H3Z"
							/>
						</svg>
					</a>
				</div>
				<!-- ! add todo to offcanvas -->
				<div class="tab-nav-items tab-nav-event">
					<div
						class="bi-bell-fill gen-svg"
						data-bs-toggle="modal"
						data-bs-target="#notification_modal"
					></div>
				</div>
				<div class="tab-nav-items nav-link-mobile tab-nav-event">
					<a href="./todo.html" class="">
						<svg
							class=""
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
						>
							<path
								d="M3 5v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.806 5 19s.55-.988 1.012-1H21V4c0-1.103-.897-2-2-2H6c-1.206 0-3 .799-3 3z"
							></path>
						</svg>
					</a>
				</div>
				<div class="tab-nav-items">
					<span
						class="bi-grid-3x3-gap-fill gen-svg toggle-tab"
						type="button"
						data-bs-toggle="offcanvas"
						data-bs-target="#nav-offcanvas"
						aria-controls="nav-offcanvas"
					></span>
				</div>
				<!-- *for mobile notifications add a modal -->
			</div>
			<i class="bi-arrow-left-square-fill gen-svg close-and-show"></i>
		</div>
		<main class="">
			<section class="container-md my-5 about-our-vision px-3">
				<h2 class="text-center text-shubblue mb-3">Featured Courses</h2>
				<div
					id="featured_course_carousel"
					class="carousel carousel-dark slide"
					data-bs-ride="carousel"
				>
					<ol class="carousel-indicators">
						<li
							data-bs-target="#featured_course_carousel"
							data-bs-slide-to="0"
							class="active"
							aria-current="true"
							aria-label="1st"
						></li>
						<li
							data-bs-target="#featured_course_carousel"
							data-bs-slide-to="1"
							aria-label="2nd"
						></li>
						<li
							data-bs-target="#featured_course_carousel"
							data-bs-slide-to="2"
							aria-label="3rd"
						></li>
						<li
							data-bs-target="#featured_course_carousel"
							data-bs-slide-to="3"
							aria-label="4th"
						></li>
					</ol>
					<div
						class="carousel-inner rounded-3 shadow-lg"
						role="listbox"
					>
						<a href="#" class="carousel-item active">
							<img
								draggable="false"
								src="./assets/016.png"
								class="img-fluid"
								alt="First slide"
							/>
							<div
								class="carousel-caption text-shubblue-i d-none rounded-3 d-md-block"
							>
								<h3>Title</h3>
								<p>Description</p>
							</div>
						</a>
						<a href="#" class="carousel-item">
							<img
								draggable="false"
								src="./assets/279143515_136882318917912_7302977828929394030_n.jpg"
								class="img-fluid"
								alt="Second slide"
							/>
							<div
								class="carousel-caption text-shubblue-i d-none rounded-3 d-md-block"
							>
								<h3>Title</h3>
								<p>Description</p>
							</div>
						</a>
						<a href="#" class="carousel-item">
							<img
								draggable="false"
								src="./assets/c++.png"
								class="img-fluid"
								alt="Third slide"
							/>
							<div
								class="carousel-caption text-shubblue-i d-none rounded-3 d-md-block"
							>
								<h3>Title</h3>
								<p>Description</p>
							</div>
						</a>
						<a href="#" class="carousel-item">
							<img
								draggable="false"
								src="./assets/Unofficial_JavaScript_logo_2.svg.png"
								class="img-fluid"
								alt="Fourth slide"
							/>
							<div
								class="carousel-caption text-shubblue-i d-none rounded-3 d-md-block"
							>
								<h3>Title</h3>
								<p>Description</p>
							</div>
						</a>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#featured_course_carousel"
						data-bs-slide="prev"
					>
						<span
							class="carousel-control-prev-icon"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#featured_course_carousel"
						data-bs-slide="next"
					>
						<span
							class="carousel-control-next-icon"
							aria-hidden="true"
						></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</section>
			<section class="container-md">
				<h2 class="text-center mb-3 mt-5 text-shubblue">Categories</h2>
				<div class="text-center nav-item py-2">
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						computer science
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						software engineering
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						Copywriting
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						Culture
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						Python
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						C++
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						Haskell
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						Taking W's
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						being Chad
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						Basedness 101
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
					<a
						href="#"
						class="tag courses-tags my-1 bg-shub-purple-i text-light is-large"
					>
						photography
					</a>
				</div>
			</section>
			<section class="courses mt-4 container-fluid">
				<h2 class="text-center mb-3 mt-5 text-shubblue">
					Courses From Our Professionals
				</h2>
				<div class="courses-container">
					<div class="card h-100 mb-3" style="max-width: 540px">
						<div class="row g-0">
							<a href="courses_detailed.html" class="col-md-4">
								<img
									src="./assets/haskell2.png"
									class="img-fluid h-100 courses-card-img rounded-start"
									alt="course image"
								/>
							</a>
							<div class="col-md-8">
								<a href="courses_detailed.html">
									<div class="card-body">
										<h5 class="card-title text-shubblue">
											Introduction to Haskel
										</h5>
										<div>
											<small class="card-text text-muted"
												>Created by Chad man Wafe</small
											>
										</div>
										<p class="card-text">
											In this course we'll be learning
											functional programming with haskell
										</p>
										<p
											class="card-text bottom-text-courses text-muted"
										>
											<small class=""
												>Last updated:</small
											>
											<i class="bi-clock-history">
												3 mins ago.</i
											>
										</p>
										<span class="tag is-link my-1"
											>Simping</span
										>
										<span class="tag is-link my-1"
											>fraudulent acts</span
										>
										<span class="tag is-link my-1"
											>taking L's</span
										>
									</div>
								</a>
								<div
									class="card-footer course-footer text-light d-flex justify-content-center bg-shub-purple"
								>
									<a
										href="courses_detailed.html"
										class="btn btn-outline-info w-75"
										style="
											font-weight: bolder;
											font-size: large;
										"
										>Start learning</a
									>
								</div>
							</div>
						</div>
					</div>
					<div class="card h-100 mb-3" style="max-width: 540px">
						<div class="row g-0">
							<a href="courses_detailed.html" class="col-md-4">
								<img
									src="./assets/c++.png"
									class="img-fluid h-100 courses-card-img rounded-start"
									alt="course image"
								/>
							</a>
							<div class="col-md-8">
								<a href="courses_detailed.html">
									<div class="card-body">
										<h5 class="card-title">
											Introduction to C++
										</h5>
										<p class="card-text">
											In this course we'll be learning
											functional programming with C++
										</p>
										<p
											class="card-text bottom-text-courses text-muted"
										>
											<small class=""
												>Last updated:</small
											>
											<i class="bi-clock-history">
												3 mins ago.</i
											>
										</p>
										<span class="tag is-link my-1"
											>Static language</span
										>
										<span class="tag is-link my-1"
											>Chad language</span
										>
										<span class="tag is-link my-1"
											>Mid level languages</span
										>
									</div>
								</a>
								<div
									class="card-footer course-footer text-light d-flex justify-content-center bg-shub-purple"
								>
									<a
										href="courses_detailed.html"
										class="btn btn-outline-info w-75"
										style="
											font-weight: bolder;
											font-size: large;
										"
										>Start learning</a
									>
								</div>
							</div>
						</div>
					</div>
					<div class="card h-100 mb-3" style="max-width: 540px">
						<div class="row g-0">
							<a href="courses_detailed.html" class="col-md-4">
								<img
									src="./assets/Unofficial_JavaScript_logo_2.svg.png"
									class="img-fluid h-100 courses-card-img rounded-start"
									alt="course image"
								/>
							</a>
							<div class="col-md-8">
								<a href="courses_detailed.html">
									<div class="card-body">
										<h5 class="card-title text-shubblue">
											Introduction to Programming With
											JavaScript
										</h5>
										<div>
											<small class="card-text text-muted"
												>Created by Nifemi Bakare</small
											>
										</div>
										<p class="card-text">
											This is a complete JavaScript course
										</p>
										<p
											class="card-text bottom-text-courses text-muted"
										>
											<small class=""
												>Last updated:</small
											>
											<i class="bi-clock-history">
												3 mins ago.</i
											>
										</p>
										<span class="tag is-link my-1"
											>JavaScript</span
										>
										<span class="tag is-link my-1"
											>Web Development</span
										>
										<span class="tag is-link my-1"
											>Programming</span
										>
									</div>
								</a>
								<div
									class="card-footer course-footer text-light d-flex justify-content-center bg-shub-purple"
								>
									<a
										href="courses_detailed.html"
										class="btn btn-outline-info w-75"
										style="
											font-weight: bolder;
											font-size: large;
										"
										>Start learning</a
									>
								</div>
							</div>
						</div>
					</div>
					<div class="card h-100 mb-3" style="max-width: 540px">
						<div class="row g-0">
							<a href="courses_detailed.html" class="col-md-4">
								<img
									src="./assets/python-programming-language-stc3ieolyaqbclwv-stc3ieolyaqbclwv.jpg"
									class="img-fluid h-100 courses-card-img rounded-start"
									alt="course image"
								/>
							</a>
							<div class="col-md-8">
								<a href="courses_detailed.html">
									<div class="card-body">
										<h5 class="card-title text-shubblue">
											Introduction to Programming With
											Python
										</h5>
										<div>
											<small class="card-text text-muted"
												>Created by Oluwatobi
												Ekundayo</small
											>
										</div>
										<p class="card-text">
											In this course you'll learna about
											Python..
										</p>
										<p
											class="card-text bottom-text-courses text-muted"
										>
											<small class=""
												>Last updated:</small
											>
											<i class="bi-clock-history">
												3 mins ago.</i
											>
										</p>
										<span class="tag is-link my-1"
											>Python</span
										>
										<span class="tag is-link my-1"
											>Chadness</span
										>
										<span class="tag is-link my-1"
											>All rounder</span
										>
									</div>
								</a>
								<div
									class="card-footer course-footer text-light d-flex justify-content-center bg-shub-purple"
								>
									<a
										href="courses_detailed.html"
										class="btn btn-outline-info w-75"
										style="
											font-weight: bolder;
											font-size: large;
										"
										>Start learning</a
									>
								</div>
							</div>
						</div>
					</div>
					<div class="card h-100 mb-3" style="max-width: 540px">
						<div class="row g-0">
							<a href="courses_detailed.html" class="col-md-4">
								<img
									src="./assets/279143515_136882318917912_7302977828929394030_n.jpg"
									class="img-fluid h-100 courses-card-img rounded-start"
									alt="course image"
								/>
							</a>
							<div class="col-md-8 h-100">
								<a href="courses_detailed.html">
									<div class="card-body">
										<h5 class="card-title text-shubblue">
											Cyber Security Basics
										</h5>
										<div>
											<small class="card-text text-muted"
												>Created by Dennis
												Sy-Apoe</small
											>
										</div>
										<p class="card-text my-3">
											Welcome to cyber security 101
										</p>
										<p
											class="card-text bottom-text-courses text-muted"
										>
											<small class=""
												>Last updated:</small
											>
											<i class="bi-clock-history">
												3 mins ago.</i
											>
										</p>
										<span class="tag is-link my-1"
											>Cybergateman</span
										>
										<span class="tag is-link my-1"
											>biro testing</span
										>
										<span class="tag is-link my-1"
											>Software engineering</span
										>
									</div>
								</a>
								<div
									class="card-footer course-footer text-light d-flex justify-content-center bg-shub-purple"
								>
									<a
										href="courses_detailed.html"
										class="btn btn-outline-info w-75"
										style="
											font-weight: bolder;
											font-size: large;
										"
										>Start learning</a
									>
								</div>
							</div>
						</div>
					</div>
					<div class="card h-100 mb-3" style="max-width: 540px">
						<div class="row g-0">
							<a href="courses_detailed.html" class="col-md-4">
								<img
									src="./assets/016.png"
									class="img-fluid h-100 courses-card-img rounded-start"
									alt="course image"
								/>
							</a>
							<div class="col-md-8">
								<a href="courses_detailed.html">
									<div class="card-body">
										<h5 class="card-title text-shubblue">
											Avoiding the Simp catcher
										</h5>
										<div>
											<small class="card-text text-muted"
												>Created by Fejiro olokor
											</small>
										</div>
										<p class="card-text my-3">
											In this course you'll learn how to
											perfectly..
										</p>
										<!-- truncatechars at 5 words-->
										<p
											class="card-text bottom-text-courses text-muted"
										>
											<small class=""
												>Last updated:</small
											>
											<i class="bi-clock-history">
												3 mins ago.</i
											>
										</p>
										<span class="tag is-link my-1"
											>Simping</span
										>
										<span class="tag is-link my-1"
											>fraudulent acts</span
										>
										<span class="tag is-link my-1"
											>taking L's</span
										>
									</div>
								</a>
								<div
									class="card-footer course-footer text-light d-flex justify-content-center bg-shub-purple"
								>
									<a
										href="courses_detailed.html"
										class="btn btn-outline-info w-75"
										style="
											font-weight: bolder;
											font-size: large;
										"
										>Start learning</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<script>
			document
				.querySelector(".notification-btn-close")
				.addEventListener("click", () => {
					document
						.querySelector(".notifs")
						.classList.remove("bi-bell-fill");
				});
			document.querySelector(".notifs").addEventListener("click", () => {
				document.querySelector(".notifs").classList.add("bi-bell-fill");
			});
		</script>
		<script>
			AOS.init();
		</script>
	</body>
</html>
